/* For the Gallery Page*/
header {
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background-color: var(--color3);
    max-height: 80vh;
    padding: 0;
}


.images {
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    height: 80vh;
}

.images img {
    background-color: var(--color3);
    mix-blend-mode: multiply;
    object-fit: cover;
    object-position: center;
    height: 100vh; 
    width: 100vw;
    transition: opacity ease-in-out 0.5s;
}

.hidden {
    display: none;
}

.reduced {
    opacity: 0;
}


#buttons {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5rem;
}

#buttons button {
    border: none;
    background: none;
    cursor: pointer;
}

#buttons button i {
    color: var(--color1);
    font-size: 3rem;
    opacity: 0.3;
    transition: all ease-in 0.5s;
}

#buttons button:hover i {
    opacity: 1;
    text-shadow: 0 0 10px var(--color1);
}

main section:nth-child(even) {
    background-color: var(--color3);
}

main section{
    width: 100%;
}

.main-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    place-content: center;
    place-items: center;
    gap: 3rem;
}

.main-gallery img {
    width: 30%;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: -5px 5px 5px var(--color3-shadow);
}

.facebook{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    align-items: center;
    gap: 5rem;
}

.facebook h3, .facebook p{
    color: white;
}

.facebook .description {
    width: 45%;
}

.facebook button {
    background-color: var(--color1);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
}

.facebook iframe {
    min-width: 27.1vw;
    border: 3px solid var(--color6);
}

@media screen and (max-width: 957px) {
    .main-gallery{
        flex-direction: column;
    }

    .main-gallery img {
        width: 100%;
    }

    .facebook {
        gap: 1rem;

    }

    .facebook .description {
        width: 100%;
    }
}