/* Imports font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #E7D3AC;
    --color2: #E4DE9C;
    --color3: #695F4A;
    --color3-shadow: #695f4a96;
    --color4: #C8C5A8;
    --color5: #F0E9D8;
    --color6: #48443A;
    --color7: #D3C6AD;

}


/* Genetic Tags */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--color6);
}

a{
    color: black;
    text-decoration: none;
}

ul, ol {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: -2px 2px 3px var(--color3);
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
}

h3 {
    font-size: 2rem;
    /* font-weight: bolder; */
}


/* hedear --> default style */

header {
    min-height: 20vh;
    padding: 1rem 5rem;
}

/* Main --> default style */
main {
    word-wrap: break-word;
}

main > section {
    padding: 5vh 10vw;
}


body {
    background-color: var(--color1);
    background-image: url("../assets/Images/bgimage.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
    overflow-x: hidden;
}

/* Navigation and Footer*/
nav, footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    padding: 0 5rem;
    background-color: #E7D3AC;
}

nav img, footer img {
    width: 10%;
    min-width: 5rem;
    max-width: 8rem;
}

nav {
    border-bottom: 2px solid var(--color3);
}

nav ul li {
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
}

nav ul li:hover {
    background-color: var(--color3);
}

nav ul li:hover a {
    color: white;
}

footer {
    border-top: 2px solid var(--color3);
}

footer #copyright{
    display: flex;
    place-items: center;
    gap: 1rem;
}

footer #socials{
    display: flex;
    flex-direction: row;
}

footer #socials i
{
    display: block;
    font-size: 2rem;
    margin: 1rem;

}


/* Navigation --> part 1 */

.menu-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    flex-direction: row;
}

.menu-1 ul {
    list-style: none;
}

.menu-1 > ul > li{
    display: inline-block;
    margin: 0.5rem 2rem;
}

.menu-1 .drop-content {
    position: absolute;
    padding: 1rem;
    text-align: center;
    display: none;
    width: 10rem;
    margin-left: -2.5rem;
    z-index: 1000;

}

.menu-1 .drop-content li {
    background-color: var(--color3);
    background-color: whitesmoke;
    box-shadow: -5px 5px 5px var(--color6);
    padding: 1rem 0.5rem;
    margin-bottom: 0.2rem;
}

.menu-1 .drop-content li a {
    color: black;
}

.menu a {
    padding: 0.5rem 2rem;
}

.menu-1 #booking-btn {
    background-color: var(--color3);
    padding: 0.5rem 2rem;
    color: white;
    border-radius: 0.5rem;
}

.menu-1 .dropdown:hover .drop-content{
    display: block;
    
}

.current > a{
    font-weight: bolder;
}


.show-drop-content {
    display: flex !important;
    z-index: 20;
}


/* Navationg --> part 2 (only shows when the screen is at 1394px width */
.menu-2 {
    display: none;
    position: absolute;
    right: 5rem;
    top: 2rem;
    text-align: center;
    overflow: hidden;
    max-width: 20%;
}

.menu-2 button {
    border: none;
    background-color: var(--color3);
    color: white;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    word-break: break-all;
}

.menu-2 .drop-content {
    display: none;
    margin-top: 100rem;
    position: relative;
    background-color: var(--color3);    
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
    word-break: break-all;
    text-align: center;
    place-items: center;
    place-content: center;
}

.menu-2 .drop-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-2 .drop-content li {
    text-align: center;
    padding: 1rem 0 ;
}

.menu-2 .drop-content li:not(:last-child) {
    border-bottom: 1px solid var(--color6);

}

.menu-2 .drop-content a {
    color: white;
}


/* Nagation --> Part 3 (for phones) */
.menu-3 {
    display: none;
}

.menu-3 button {
    background: none;
    border: none;
}

.menu-3 button i {
    font-size: 2rem;
}

.menu-3 .drop-content {
    display: none;
    padding: 1rem;
    text-align: center;
    place-content: center;
    place-items: center;
    position: absolute;
    left: 0;
    margin-top: 1rem;
    width: 100vw;
    background-color: var(--color3);
}

.menu-3 .drop-content ul {
    list-style-type: none;
    width: 100%;
}

.menu-3 .drop-content li {
    padding: 1rem;
}

.menu-3 .drop-content li:not(:last-child) {
    border-bottom: 1px solid var(--color6);
}

.menu-3 .drop-content a {
    color: white;
}



/* Media Controls */
@media screen and (max-width: 1624px) {

    .menu-1 ul li, .menu-1 #booking-btn{
        display: none;
    }

    .menu-2 {
        display: block;
    }

    footer #copyright {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 705px) {

    section {
        padding: 5vh 5vw;
    }

    .menu-2 {
        display: none;
    }

    .menu-3 {
        display: block;
    }
}
