header{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    background-image: url("../assets/Images/20240329_103036.jpg");
    background-color: var(--color3);
    background-blend-mode:multiply;
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 80vh;
    text-align: center;
    word-wrap: break-word;
}


main{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    padding: 5rem;
    overflow: hidden;
}

/* main img{
    width: 40%;
    height: 40vw;
    margin-right: 5rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: -5px 5px 5px var(--color3);
} */


.image-gallery {
    display: flex;
    flex-direction: row;
    place-content: center;
    width: 100%;
    padding: 10rem 5rem;
    gap: 5rem;
}

.image-gallery img{
    width: 30%;
    border-radius: 0.5rem;
    box-shadow: -5px 5px 5px var(--color3-shadow);
    object-fit: cover;
    background-color: black;
    border: 2px solid var(--color3);
}

.image-gallery img:nth-child(2) {
    transform: scale(120%);
}


.campsite-section {
    width: 100vw;
    min-height: 90vh;
    background: url('../assets/Images/Common Area - Kitchen and Videoke.jpg') center/cover no-repeat;
    background-color: var(--color3);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: centser;
    color: white;
    text-align: center;
    padding: 2rem;
    margin: 0;
}

.campsite-content {
    max-width: 80%;
}

.campsite-content h2 {
    color: #C8C5A8;
}

.stars .fa-star {
    color: #C8C5A8;
}
 
.review {
    border: 2px solid #F0E9D8;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #F0E9D8;
    border-radius: 0.5rem;
    color: black;
}

.faq-container {
    display: flex;
    place-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.faq-title {
    color: #333;
    text-align: left;
    font-size: 24px;
}

.faq-title i {
    margin-right: 10px;
    color: #333;
}

.faq-item {
    margin-bottom: 1rem;
    border: 2px solid #ccc;
    border-radius: 0.7rem;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
}

.faq-question {
    padding: 15px;
    background-color: #F0E9D8;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #e0d7c0;
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ccc
}

.faq-question i {
    transition: transform 0.3s ease;
} 

@media screen and (max-width: 1033px) {

    .image-gallery {
        height: 90vw;
        gap: 0;
        
        place-content: center;
        place-items: center;
    }

    .image-gallery img {
        position: absolute;
        height: 60vw;
        width: 35vw;
    }

    .image-gallery img:hover {
        z-index: 1000;
    }

    .image-gallery img:first-child {
        transform: rotate(10deg) translate(1rem, -6rem);
    }

    .image-gallery img:last-child {
        transform: rotate(20deg) translate(2rem, 0);
    }

    
    .image-gallery img:nth-child(2) {
        transform: rotate(-10deg) translate(-3rem, -2rem);
    }

    .faq-title {
        text-align: center;
    }
    
}
